---
layout: default
---
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% if page.redirect_to %}
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to | relative_url }}" />
  {% endif %}
</head>
